/*universal selector*/

* {
    box-sizing: border-box;
}


/*general*/

body {
    margin 0;
    font-family: 'Pacifico', cursive;
    line-height: 1.5;
}

.main-header {
    height: 850px;
    padding-top: 170px;
    /*    background-image: url('../img/mounntains.jpg');*/
    /*    background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
    /*    background-image: linear-gradient(#ffa949, firebrick);*/
    background: linear-gradient(#ffa949, transparent 90%), #ffa949 url('../img/mounntains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*to change font-size from px to em. Do this simple equation.
    
    Whatever is desired pixel is / 16.
    26px/16px = */
    font-size: 1.625em;
    color: white;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.primary-content {
    text-align: center;
    padding-bottom: 95px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid brown;
}

.primary-content,
.secondary-content {
    width: 60%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
}

.t-border {
    border-top: 2px solid lightgrey;
}

ul li {
    margin-bottom: 5px;
}

.arrow {
    width: 50px;
    margin-top: 150px
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.food {
    /*    padding-top: 100px;*/
    /*    padding-right: 120px;*/
    /*    padding-bottom:100px;*/
    /*    padding-left: 120px;*/
    padding: 18% 24%;
    /*two values first is for top and bottom. 2nd is for left and right.*/
    /*    border-width:  10px 20px;*/
    /*    border-style: solid;*/
    /*    border-color: darkgreen;*/
    border-top: 10px solid #ffa949;
    /*when 3 values. First is top. second is left and right. and third is bottom.*/
    margin: 105px 0 60px;
    background-image: url(../img/foodforpic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px firebrick;
}


/*headline elements and p elements*/

h1 {
    /*90px/16px*/
    font-size: 5.625em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8) margin: 12px 0 0;
}

h2 {
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8) margin: 12px 0 0;
}

h3 {
    font-size: 20px;
    /*34px/20px*/
    margin-bottom: 1.7em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8) margin: 12px 0 0;
}

p {}


/*floated columns*/

.kebob,
.pork {
    width: 46.5%;
}

.kebob {
    float: left;
}

.pork {
    float: right;
    list-style: none
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/*colors*/

body {
    color: crimson;
}

.title {
    color: white;
}

.main-header {
    background-color: #8BC5D9;
}

.food {
    color: white;
    background-color: #8BC5D9;
}


/*ul li {*/


/*    color: yellow;*/


/*    background-color: tomato;*/


/*}*/

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

h1 {
    color: white;
}

h3 {
    color: firebrick;
}


/*css psuedo class*/

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: maroon;
}

a:hover {
    color: firebrick;
}

a:active {
    color: coral;
}

a:focus {
    color: white;
    background-color: orange;
}


/*media queries*/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .food {
        padding: 10% 12%;
        margin: 50px 0 20px;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        font-size: 1.3rem;
        border: none;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .kebob,
    .pork {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}


/* Navigation Menu - Background */

.navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* non-critical appearance styles */
    list-style: none;
    background: #111;
}


/* Navigation Menu - List items */

.nav-item {
    /* non-critical appearance styles */
    width: 200px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;
}

.nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
    color: #c74438;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(75, 20, 20, 0.65) 100%);
}


/* Site Wrapper - Everything that isn't navigation */

.site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    /* non-critical apperance styles */
    background-image: linear-gradient(135deg, rgb(254, 255, 255) 0%, rgb(221, 241, 249) 35%, rgb(160, 216, 239) 100%);
    background-size: 200%;
}


/* Nav Trigger */

.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 2;
    /* non-critical apperance styles */
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}


/* Make the Magic Happen */

.nav-trigger + label,
.site-wrap {
    transition: left 0.2s;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
}


/* Additional non-critical styles */

h1,
h3,
p {
    max-width: 600px;
    margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}


/* Micro reset */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}